@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html,body{
    min-height: 100%;
}
*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;

}
.titulo{
    position: absolute;
    left: 45%;
    bottom: 90%;
    text-shadow: 0.1em 0.1em 0.2em black
}
body{
    background-image: url(/HTML\ WORKSHOP/CSS/image/fundo2.jpg);
    background-size: cover;
}
.content{
    position: absolute;
    left:37%;
    bottom: 50%;
}
footer {
    position: absolute;
    bottom: 0;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}
input[type=text] {
    height: 40px;
    width: 400px;
}
input[type=email] {
    height: 40px;
    width: 400px;
}
.botão{
    height: 30px;
    width: 100px;
    position: absolute;
    right: 40%;
}

